{% extends 'base.html' %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">
                  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <p class="muted">
                    {{ post.excerpt }}
                </p>
            </header>

            <div class="read-more cl-effect-14">
              <a href="{{ post.get_absolute_url }}" class="btn ">继续阅读 <span class="meta-nav">→</span></a>
            </div>

        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}
            </span>

            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock main %}